.login-btn:focus {
    box-shadow: none;
}

.login-btn {
    background-color: #0faf97;
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 50px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.login-btn:hover {
    background-color: #ffffff;
    color: #0faf97d5;

}

.login-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.forget {
    cursor: pointer;
}

.forget:hover {
    font-weight: bold;
}