.log-out {
    border: none;
    background-color: #0f8aaf;
    padding: 0px 15px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 50px;
}

.log-out:hover {
    background-color: lightgreen;
}

.user-name {
    color: #ffffff !important;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}