@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.medicine-id {
    font-size: 15px;
    color: lightslategrey;
    font-style: italic;
}

.update-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.update-name {
    position: relative;
}

.update-medicine-image img {
    width: 350px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.register-company {
    position: absolute;
    top: 0;
    font-size: 16px;
}

.supply {
    font-size: 16px;
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
}

.update-quantity-container {
    width: 50%;
    margin: 0 auto;
}

.update-quantity-container p {
    color: #000000c7;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}

.update-paragraph {
    padding: 10px 20px;
    width: 50%;
    margin: 0 auto;
}


.delivery-btn {
    border: none;
    background-color: #0faf97d5;
    padding: 8px 20px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.delivery-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    background-color: #0f8aaf;
    color: #ffffff;
}

.manga-btn {
    border: 2px solid #0f8aaf;
    background-color: #fff;
    padding: 8px 15px;
    border-radius: 50px;
}

.manga-btn:hover {
    background-color: lightslategray;
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    .update-paragraph {
        width: 100%;
    }

    .update-quantity-container {
        width: 100%;
    }
}