.supplier-myitems {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;

}


.myItems .manage-items-container {
    margin-bottom: 15px;
    border: 2px solid #0faf97d5;
    padding: 15px;
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.delete-btn {
    color: red;
    position: absolute;
    top: 10px;
    right: -4px;
    font-size: 30px;
    cursor: pointer;
}

.manage-pic {
    width: 150px;
    border-radius: 5px;
    height: 170px;
}