.slider-title {
    padding: 10px 5px;
    margin-top: -20px;
}

.slider-title p {
    color: crimson;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.slider-title h3 {
    color: #000000;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.quote-banner {
    background-color: lightskyblue;
    padding: 20px;
}

.be-quote {
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
}

.be-quote:hover {
    background-color: #0faf97d5;

}

.be-quote a {
    text-decoration: none;
    padding: 10px 20px;
}

.be-quote a:hover {
    color: #ffffff;
}